#bottombar {
    background-color: #efefec;
    position: fixed; !important;
    bottom: 0;
    z-index: 5;
    border: 1px solid #999999;
    background-repeat:repeat-x;
    color:#222222;
    _position:absolute;
    _top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
}
